.wrapper.wrapper--wide-screen-burger
    .header
        .header-container-wide
            .header__menu.header__menu-flex.menu
                .header-cont.header-cont--top
                    a.header__logo--burger( href="index.html" )
                        img( src="./assets/images/wide-screen-burger/logo.svg" alt="itshtab" )
                    button.wide-screen-burger--close-button.menu__icon.icon-menu( type="button" )
                        span
                img( src="./assets/images/wide-screen-burger/air1.png?_v=1664227750022" class="flex__bg" alt="" )
                img( src="./assets/images/wide-screen-burger/air2.png?_v=1664227750022" class="flex__bg2" alt="" )
                nav.menu__body
                    .header-cont.header-cont-bottom.flex
                        .header__navi-box
                            ul.menu__list
                                li.menu__item( id='home' )
                                    span.menu__link Главная
                                        span
                                            img( src="./assets/images/wide-screen-burger/strela.svg?_v=1664227750022" alt="Перейти в раздел" )
                                li.menu__item( id='uslugi' )
                                    span.menu__link Услуги
                                        span
                                            img( src="./assets/images/wide-screen-burger/strela.svg?_v=1664227750022" alt="Перейти в раздел" )
                                li.menu__item( id='portfolio' )
                                    span.menu__link Портфолио
                                        span
                                            img( src="./assets/images/wide-screen-burger/strela.svg?_v=1664227750022" alt="Перейти в раздел" )
                                li.menu__item( id='about-company' )
                                    span.menu__link О компании
                                        span
                                            img( src="./assets/images/wide-screen-burger/strela.svg?_v=1664227750022" alt="Перейти в раздел" )
                                li.menu__item( id='contacts-stroke' )
                                    span.menu__link Контакты
                                        span
                                            img( src="./assets/images/wide-screen-burger/strela.svg?_v=1664227750022" alt="Перейти в раздел" )
                            ul.header__sub-list.hidden.uslugi
                                li
                                    a( href="404.html" ) 404
                                li
                                    a( href="blog.html" ) Блог
                                li
                                    a( href="contacts.html" ) Контакты
                                li
                                    a( href="blog-once-page.html" ) Блог одна страница
                            ul.header__sub-list.hidden.home
                                li
                                    a( href="#" ) Ссылка
                                li
                                    a( href="#" ) Ссылка
                                li
                                    a( href="#" ) Ссылка
                                li
                                    a( href="#" ) Ссылка
                            ul.header__sub-list.hidden.portfolio
                                li
                                    a( href="#" ) Ссылка
                                li
                                    a( href="#" ) Ссылка
                                li
                                    a( href="#" ) Ссылка
                                li
                                    a( href="#" ) Ссылка
                            ul.header__sub-list.hidden.about-company
                                li
                                    a( href="#" ) Ссылка
                                li
                                    a( href="#" ) Ссылка
                                li
                                    a( href="#" ) Ссылка
                                li
                                    a( href="#" ) Ссылка
                            ul.header__sub-list.hidden.contacts-stroke
                                li
                                    a( href="#" ) Ссылка
                                li
                                    a( href="#" ) Ссылка
                                li
                                    a( href="#" ) Ссылка
                                li
                                    a( href="#" ) Ссылка
                        .header__fidbek
                            address.header__address
                                a.header__call( href="tel:+79050226228" ) +7 (905) 022-62-28
                                a( href="mailto: info@itshtab.ru" ).header__mail info@itshtab.ru
                                a( href="" ).header__place
                                    | Республика Татарстан,
                                    br
                                    | г. Казань, ул. Четаева д.5А
                            .bb
                                .header__social
                                    a( href="#" )
                                        img( src="./assets/images/wide-screen-burger/tg.svg" alt="телеграм" )
                                    a( href="#" )
                                        img( src="./assets/images/wide-screen-burger/wh.svg" alt="Ватсап" )
                                    a( href="#" )
                                        img( src="./assets/images/wide-screen-burger/vk.svg" alt="Вконтакте" )
                                div
                                    a.about-us__right-side-read-more.about-us__right-side-read-more--wide-screen-header( href="#" )
                                        svg.for-button-hover-svg( viewBox="0 0 204 204" )
                                            circle.for-button-hover-svg-pointer.for-button-hover-svg--wide-screen-header( cx="102" cy="102" r="102" fill="transparent" )

                                        .about-us__right-side-read-more-circle.about-us__right-side-read-more-circle--wide-screen-header

                                        .about-us__right-side-read-more-content.about-us__right-side-read-more-content--wide-screen-header
                                            p.about-us__right-side-read-more--brief
                                                span.about-us__right-side-read-more-span Читать в
                                                | телеграм
                                            img.about-us__right-side-read-more-image.about-us__right-side-read-more-image--wide-screen-heder(
                                                src="assets/images/wide-screen-burger/arrow.svg" alt="Телеграм"
                                                width="31" height="25"
                                            )

