include head

body
    include ../views/header
    main
        include ../views/intro
        include ../views/about-us
        include ../views/services
    include ../views/footer

// swiper script
script( src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js" )
// splide script
script( src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" )
script( src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js" )
// my js
script( src="./assets/js/index.min.js" )