@import "../utils/variables"
@import "../utils/mixins"
@import "../utils/fonts"
@import "../utils/reset"

@import "../circle/circle"
@import "../header/header"
@import "../header/wide-screen-burger"
@import "../header/style.css"
@import "../contacts/intro"
@import "../footer/footer"
// utils
@import "../utils/buttons"
@import "../utils/container"

body
  display: flex
  flex-direction: column

  font-family: 'Circe', serif

  overflow-x: hidden

  position: relative

main
  flex-grow: 1

.body--hidden
  overflow: hidden

input:focus
  border: 1px solid $saladColor
  outline: none
