.services
  padding-top: 75px
  padding-bottom: 65px

  overflow: hidden

  position: relative

//.section__titles
.section__titles
  display: flex
  justify-content: space-between

.section__titles-left
  @media (max-width: 680px)
    margin-right: 35px

.section__titles__decoration-right
  width: 125px
  height: 120px

.services__decoration-right-image--parallax
  display: inline-block

  @media (max-width: 680px)
    width: 99px
    height: 117px

.section__overtitle
  display: flex
  align-items: center

  margin-bottom: 10px

.section__overtitle-text
  font-weight: 400
  @include adaptiveFont(20, 14)
  line-height: 1
  color: #000000

.section__overtitle-line
  margin-left: 25px

  width: 66px
  height: 1px
  border: 1px solid rgb(197 197 197)

.section__title-title
  font-weight: 800
  @include adaptiveFont(40, 25)
  line-height: 1
  color: #000000

.services__list-block
  margin-top: 85px

  width: 100%

  @media (max-width: 680px)
    margin-top: 50px

.services__list
  width: 100%

  @media (max-width: 440px)
    overflow-x: auto
    overflow-y: hidden

.services__list-item
  display: flex
  justify-content: space-between

  width: 100%

  border-bottom: 1px solid rgb(197 197 197)

  @media (max-width: 1160px)
    justify-content: space-around

  @media (max-width: 780px)
    justify-content: space-between

  @media (max-width: 440px)
    width: 500px

  &:nth-child(1)
    border-top: 1px solid rgb(197 197 197)
    border-bottom: 1px solid rgb(197 197 197)

.services__list-item-title-block
  display: flex
  align-items: flex-start

  max-width: 315px

  width: 100%

  border-right: 1px solid rgb(197 197 197)

  position: relative

  @media (max-width: 1160px)
    max-width: 210px

  @media (max-width: 925px)
    max-width: 180px

  @media (max-width: 720px)
    max-width: 140px

  @media (max-width: 565px)
    max-width: 110px

.services__list-item-title-block--without-border
  border: none

.services__list-item-title-overflow-line
  border-right: 1px solid rgb(197 197 197)

  position: absolute
  top: 0
  bottom: 0
  right: 0

.services__list-item-title
  margin-top: 30px
  margin-right: 100px

  font-weight: 700
  @include adaptiveFont(40, 18)
  line-height: 1
  color: #000000

.services__list-item-description
  display: flex
  justify-content: center
  align-items: flex-start

  width: 50%

  position: relative

.services__list-item-description--border-right
  border-right: 1px solid rgb(197 197 197)

.services__list-item-description-overflow-line
  width: 1px
  height: 100%

  border-right: 1px solid rgb(197 197 197)

  position: absolute
  z-index: 1
  right: 0
  bottom: 0

.services__list-item-description-content
  display: flex
  flex-direction: column
  gap: 35px

  padding: 30px 15px

  max-width: 385px

  width: 100%

.services__list-item-description-p
  font-weight: 350
  @include adaptiveFont(20, 16)
  line-height: 1
  color: #000000

.services__list-item-description-list
  display: flex
  flex-direction: column
  gap: 10px

.services__list-item-description-list-item
  display: flex
  align-items: center
  gap: 15px

.services__list-item-description-list-item p
  font-weight: 700
  @include adaptiveFont(20, 14)
  line-height: 1
  color: #000000

.services__list-item-description-list-item-line
  flex-shrink: 0

  width: 27px
  height: 1px

  background-color: #000

// read more
.services__list-item-read-more
  display: flex
  align-items: center
  justify-content: center

  padding: 0 15px

  width: 30%

  @media (max-width: 1160px)
    width: 15%

  @media (max-width: 780px)
    width: 20%

.services__list-item-read-more-content
  display: flex
  align-items: center
  gap: 10px

  cursor: pointer

  position: relative
  pointer-events: none

  @media (max-width: 490px)
    flex-direction: column

.services__list-item-read-more-content-arrow
  @media (max-width: 845px)
    width: 15px
    height: 15px

.services__bottom-button
  display: flex
  justify-content: center

  margin-top: 65px

.services__bottom-button-circle
  border: 1px solid #000