.why
    padding: 60px 0

    background: #262626

.why__content
.why__contentTitle
    margin-bottom: 35px

    font-weight: 700
    @include adaptiveFont(35, 20)
    line-height: 1.2
    color: #FFFFFF

.why__contentText
    font-weight: 400
    @include adaptiveFont(20, 16)
    line-height: 1.4
    color: #FFFFFF
