include head

body.hidden
    include ../../views/utils/preloader
    include ../../views/circle/circle
    include ../../views/utils/burgerMenu
    include ../../views/header/header
    #butter
        main
            include ../../views/blog/intro

        include ../../views/footer/footer

// my js
script( src="./assets/js/index--blog.min.js" )