section.solve

    img.solve__decorationRightLines(
        src="assets/images/utils/obliqueLinesWithSalad--transparent.svg" alt="Декоративные линии" 
        width=175 height=305
    )

    .container
        .solve__content
            .solve__contentLeftWrapper
                .solve__contentLeft
                    p.solve__contentLeftText 
                        | Решаем актуальные задачи в любых сферах бизнеса

            .solve__contentRight
                ol.solve__contentRightList
                    li.solve__contentRightListItem
                        .servisec-list__item
                            .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--wide
                                .servisec-list__item-title-span-bg

                            .servisec-list__item-content
                                .servisec-list__item-title.intro__bottomTitle
                                    span.servisec-list__item-title-span 01
                        h2.solve__contentRightListItemText
                            | Если вы только выходите на рынок и хотят эффектно заявить о себе

                    li.solve__contentRightListItem
                        .servisec-list__item
                            .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--wide
                                .servisec-list__item-title-span-bg

                            .servisec-list__item-content
                                .servisec-list__item-title.intro__bottomTitle
                                    span.servisec-list__item-title-span 02
                        h2.solve__contentRightListItemText
                            | Ниша вашего бизнеса полна конкурентов

                    li.solve__contentRightListItem
                        .servisec-list__item
                            .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--wide
                                .servisec-list__item-title-span-bg

                            .servisec-list__item-content
                                .servisec-list__item-title.intro__bottomTitle
                                    span.servisec-list__item-title-span 03
                        h2.solve__contentRightListItemText
                            | Ваш прошлый или текущий исполнитель не справляется
                    
                    li.solve__contentRightListItem
                        .servisec-list__item
                            .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--wide
                                .servisec-list__item-title-span-bg

                            .servisec-list__item-content
                                .servisec-list__item-title.intro__bottomTitle
                                    span.servisec-list__item-title-span 04
                        h2.solve__contentRightListItemText
                            | Сложно найти новых клиентов,а старые не обращаются повторно

                    li.solve__contentRightListItem
                        .servisec-list__item
                            .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--wide
                                .servisec-list__item-title-span-bg

                            .servisec-list__item-content
                                .servisec-list__item-title.intro__bottomTitle
                                    span.servisec-list__item-title-span 05
                        h2.solve__contentRightListItemText
                            | Ваш прошлый или текущий исполнитель не справляется

                    li.solve__contentRightListItem
                        img.bullet.bullet--image.bullet--imageRocket(
                            src="assets/images/attraction/rocket.svg" alt="Ракета"
                                width=60 height=60
                        )
                        h2.solve__contentRightListItemText.solve__contentRightListItemText--bold
                                | И множество других ситуаций, с которыми мы уже неоднократно справлялись и готовы сноваItem