section.stages
    .container
        .stages__content
            .stages__contentTop
                .servisec-list__item
                    .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--wide
                        .servisec-list__item-title-span-bg

                    .servisec-list__item-content
                        h1.servisec-list__item-title.servicesTitle
                            span.servisec-list__item-title-span Этапы работ&nbsp;
                            | &nbsp;над рекламой

            .stages__contentBottomWrapper
                img.stages__contentBottom__decorationRightLines(
                    src="assets/images/utils/obliqueLinesWithSalad--full.svg" alt="Декоративные линии" 
                    width=175 height=305
                )
                
                .stages__contentBottom    
                    ol.stages__contentBottomItems
                        li.stages__contentBottomItem
                            .stages__contentBottomItemTop
                                .servisec-list__item
                                    .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--higher
                                        .servisec-list__item-title-span-bg--black

                                    .servisec-list__item-content
                                        .servisec-list__item-title.intro__bottomTitle
                                            span.servisec-list__item-title-span.servisec-list__item-title-span--white  01
                                
                                h2.stages__contentBottomItemTopTitle
                                    | Подготовка

                            ul.stages__contentBottomItemBottomList
                                li.stages__contentBottomItemBottomListItem
                                    .bullet.bullet--blackStages
                                    p.stages__contentBottomItemBottomListItemText Брифинг, аудит и анализ

                                li.stages__contentBottomItemBottomListItem
                                    .bullet.bullet--blackStages
                                    p.stages__contentBottomItemBottomListItemText Проработка гипотез

                                li.stages__contentBottomItemBottomListItem
                                    .bullet.bullet--blackStages
                                    p.stages__contentBottomItemBottomListItemText Разработка креативов

                                li.stages__contentBottomItemBottomListItem
                                    .bullet.bullet--blackStages
                                    p.stages__contentBottomItemBottomListItemText Брифинг, аудит и анализ

                        li.stages__contentBottomItem
                            .stages__contentBottomItemTop
                                .servisec-list__item
                                    .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--higher
                                        .servisec-list__item-title-span-bg--black

                                    .servisec-list__item-content
                                        .servisec-list__item-title.intro__bottomTitle
                                            span.servisec-list__item-title-span.servisec-list__item-title-span--white  02
                                
                                h2.stages__contentBottomItemTopTitle
                                    | Ведение рекламы

                            ul.stages__contentBottomItemBottomList
                                li.stages__contentBottomItemBottomListItem
                                    .bullet.bullet--blackStages
                                    p.stages__contentBottomItemBottomListItemText Подготовка и публикация рекламных объявлений

                                li.stages__contentBottomItemBottomListItem
                                    .bullet.bullet--blackStages
                                    p.stages__contentBottomItemBottomListItemText Настройка рекламы по аудиториям

                                li.stages__contentBottomItemBottomListItem
                                    .bullet.bullet--blackStages
                                    p.stages__contentBottomItemBottomListItemText Работа со ставками рекламных  объявлений

                                li.stages__contentBottomItemBottomListItem
                                    .bullet.bullet--blackStages
                                    p.stages__contentBottomItemBottomListItemText Настройка рекламы по аудиториям

                        li.stages__contentBottomItem
                            .stages__contentBottomItemTop
                                .servisec-list__item
                                    .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--higher
                                        .servisec-list__item-title-span-bg--black

                                    .servisec-list__item-content
                                        .servisec-list__item-title.intro__bottomTitle
                                            span.servisec-list__item-title-span.servisec-list__item-title-span--white  03
                                
                                h2.stages__contentBottomItemTopTitle
                                    | Аналитика и отчеты

                            ul.stages__contentBottomItemBottomList
                                li.stages__contentBottomItemBottomListItem
                                    .bullet.bullet--blackStages
                                    p.stages__contentBottomItemBottomListItemText Аналитика результатов проведенной рекламной кампании

                                li.stages__contentBottomItemBottomListItem
                                    .bullet.bullet--blackStages
                                    p.stages__contentBottomItemBottomListItemText Проработка гипотез по улучшению

                                li.stages__contentBottomItemBottomListItem
                                    .bullet.bullet--blackStages
                                    p.stages__contentBottomItemBottomListItemText Регулярная отправка отчетов об успехах рекламной кампании