section.intro
    .container
        .intro__content
            .intro__contentLeft
                h1.intro__contentLeftTitle
                    | Мы креативное и цифровое агентство с полным спектром услуг, работ ающее с B2B и B2C сектором

                .intro__contentLeftSuptitleWrapper
                    p.intro__contentLeftSuptitle 
                        | Узнайте о самых знаковых и новых трендах, которые мы успешно применяем для того, чтобы сделать вас успешнее и заметнее на рынке в интернет среде. Наша история начинается в 2013 году
                    .intro__contentLeftSuptitleLine

            .intro__contentRight
                img.intro__contentRightImage(
                    src="assets/images/utils/circleWithLines--fullSalad.svg" alt="Круг" 
                    width=403 height=403
                )

        .intro__videoBlock
            .intro__videoBillet
                p.intro__videoBilletText SHOWREEL


            .intro__videoBlockVideoWrapper
                video(src="assets/images/studio/video.mp4" autoplay muted loop).intro__video