include head

body.hidden
    include ../../views/utils/preloader
    include ../../views/utils/burgerMenu

    include ../../views/circle/circle
          
    include ../../views/header/header 
    #butter
        main
            include ../../views/productsOncePage/intro
            include ../../views/productsOncePage/info
            section.otherAndMayToLikeWrapper
                include ../../views/productsOncePage/other
                include ../../views/productsOncePage/mayToLike
            include ../../views/services/offer
        include ../../views/footer/footer

// my js
script( src="./assets/js/indexProductsOncePage.min.js" )