include head

body.hidden
    include ../../views/utils/preloader
    include ../../views/circle/circle
    include ../../views/utils/burgerMenu
    include ../../views/header/header
    #butter
        main
            include ../../views/brief/intro
            include ../../views/brief/forms

        include ../../views/footer/footer

// my js
script( src="./assets/js/index--brief.min.js" )