section.statistics
    h1.visibleHidden Статистика
    
    .container
        .statistics__items.animationItem.animationNoRepeat
            .statistics__item.animated
                p.statistics__itemNumber.animationItem.animationNoRepeat(data-needed-amount="500") 0 
                h2.statistics__itemTitle 
                    | Проектов 
                    br
                    | выполнено

            .statistics__item.animated
                p.statistics__itemNumber.animationItem.animationNoRepeat(data-needed-amount="400") 0 
                h2.statistics__itemTitle 
                    | Довольных 
                    br
                    | клиентов

            .statistics__item.animated
                p.statistics__itemNumber.animationItem.animationNoRepeat(data-needed-amount="50" data-with-plus="true")  0 
                h2.statistics__itemTitle 
                    | Разработано
                    br
                    | РК

            .statistics__item.animated
                p.statistics__itemNumber.animationItem.animationNoRepeat(data-needed-amount="10") 0 
                h2.statistics__itemTitle 
                    | Проектов
                    br
                    | выполнено