include head

body.hidden
    include ../../views/utils/preloader
    include ../../views/404/decoration-lines
    include ../../views/utils/burgerMenu
    #butter
        include ../../views/header/header
        main
            include ../../views/404/intro
    
        include ../../views/footer/footer

// my js
script( src="./assets/js/index--404.min.js" )