include head

body.hidden
    include ../../views/utils/preloader
    include ../../views/circle/circle
    include ../../views/utils/burgerMenu

    #butter
        include ../../views/header/header
        main
            include ../../views/contacts/intro

        include ../../views/footer/footer

// my js
script( src="./assets/js/index--contacts.min.js" )