include head

body.hidden
    include ../../views/utils/preloader
    include ../../views/circle/circle
    include ../../views/header/header
    include ../../views/header/wide-screen-burger
    #butter
        main
            include ../../views/contacts/intro

        include ../../views/footer/footer

// my js
script( src="./assets/js/index--contacts.min.js" )