section.intro
    h1.visibleHidden Проекты

    img.intro__decorativeCircle(
        src="assets/images/utils/semicircle-to-right--gray.svg" alt="Декоративный круг" 
    )

    .container
        .intro__content
            .intro__contentLeftSide
                h2.intro__contentLeftSideTitle Проекты  
                .intro__contentLeftSideButtons
                    button.intro__contentLeftSideButton.intro__contentLeftSideButton--active
                        | Все
                    button.intro__contentLeftSideButton 
                        | Разработка
                    button.intro__contentLeftSideButton 
                        | Продвижение

            .intro__contentLine

            .intro__contentRightSide
                img.intro__contentRightSideImage(
                    src="assets/images/projects/intro.svg" alt="Примеры работ"
                    width=659 height=433
                )
                