section.offer
    h1.visibleHidden Давайте поработаем!

    img.offer__decorativeCircle(
        src="assets/images/utils/circleWithLines.svg" alt="Декоративный круг"
        width=421 height=421
    )

    .container 
        .titleBlockWithBg 
            h2.titleWithBg Давайте поработаем!
            
        .offer__bottom
            p.offer__bottomText 
                | Мы уверены, что мы сможем сделать многое для вас, 
                | чтобы дать вам хороший результат

            a.fillingButton.fillingButton--projectsOffer( href="blog.html" )
                svg.fillingButton__svg( viewBox="0 0 204 204" )
                    circle.fillingButton__svg-circle.fillingButton__svg-circle--projectsOffer( cx="102" cy="102" r="102" fill="transparent" )

                .fillingButton__circle.fillingButton__circle--black-border.fillingButton__circle--projectsOffer

                .fillingButton__content
                    p.fillingButton__p.fillingButton__p--black
                        span Вернуться
                        | назад