section.projects
    h1.visibleHidden Проекты

    .projects__verticalLines
        .projects__verticalLine
        .projects__verticalLine
        .projects__verticalLine

    .projects__obliqueLines

    .glowingCircleTop
    .glowingCircleBottom

    .container
        .projects__itemsWrapper
            article.projects__item
                .projects__itemImageWrapper
                    img.projects__itemImage(
                        src="assets/images/projects/rag.jpg" alt="Превью сайта"
                        width=650 height=520
                    )
                    img.projects__itemImageDecoration(
                        src="assets/images/projects/imagesDecoration.svg" alt="Декоративный элемент"
                        width=310 height=148
                    )
                .projects__itemTitleWrapper
                    h2.projects__itemTitle
                    .projects__itemTitleLine
                p.projects__itemSuptitle

        .projects__slideButtons
            button.projects__slideButton 1
            button.projects__slideButton 1
            button.projects__slideButton 1
            button.projects__slideButton 1
            button.projects__slideButton 1