section.intro
    .container.intro__container
        .intro__top
            .intro__top-left
                img.intro__top-left-circle(
                    src="assets/images/brief/behind-circle.png" alt="Размытый круг"
                    width=605 height=605
                )
                img.intro__top-left-tickets(
                    src="assets/images/brief/tickets.svg" alt="Карточки заказа"
                    width=603 height=495
                )

            .intro__top-right
                h1.intro__top-right-title Онлайн бриф
                .intro__top-right-text-block
                    p.intro__top-right-text
                        | В ходе заполнения брифа мы рекомендуем вам постараться максимально подробно изложить свое виденье и заполнить информция о компании, а так же о ваших текущих конкурентах

                .intro__top-right-button
                    .fillingButton.fillingButton--brief-intro
                        svg.fillingButton__svg( viewBox="0 0 204 204" )
                            circle.fillingButton__svg-circle.fillingButton__svg-circle--brief-intro( cx="102" cy="102" r="102" fill="transparent" )

                        .fillingButton__circle.fillingButton__circle--brief-intro

                        .fillingButton__content
                            p.fillingButton__p
                                span.fillingButton__span--smallMargin-and-partial Прис
                                | тупить

