section.intro
    .container.intro__container
        .intro__top
            .intro__top-left
                img.intro__top-left-circle(
                    src="assets/images/brief/behind-circle.png" alt="Размытый круг"
                    width=605 height=605
                )
                img.intro__top-left-tickets(
                    src="assets/images/brief/tickets.svg" alt="Карточки заказа"
                    width=603 height=495
                )

            .intro__top-right
                h1.intro__top-right-title Онлайн бриф
                .intro__top-right-text-block
                    p.intro__top-right-text
                        | В ходе заполнения брифа мы рекомендуем вам постараться максимально подробно изложить свое виденье и заполнить информция о компании, а так же о ваших текущих конкурентах

                .intro__top-right-button
                    .about-us__right-side-read-more.about-us__right-side-read-more--brief-intro
                        svg.for-button-hover-svg( viewBox="0 0 204 204" )
                            circle.for-button-hover-svg-pointer.for-button-hover-svg--brief-intro( cx="102" cy="102" r="102" fill="transparent" )

                        .about-us__right-side-read-more-circle.about-us__right-side-read-more-circle--brief-intro

                        .about-us__right-side-read-more-content.about-us__right-side-read-more-content--brief-intro
                            p.about-us__right-side-read-more
                                span.about-us__right-side-read-more-span Присту
                                | пить
                            img.about-us__right-side-read-more-image(
                                src="assets/images/brief/arrow-read-more.svg" alt="Белая стрелка"
                                width="21" height="16"
                            )

